body {
    background: url("../images/The\ Anthropomorphic\ Cabinet.jpg") top / cover no-repeat fixed;
    color: white;
    margin: 0px;
    font: 100% verdana, sans-serif;
}

figure {
    border: 5px double #62433f;
    background-color: #98644e;
    padding: 5px;
    display: table;
}

.banner {
    width: 20%;
    height: 10%;
}

.quote {
    width: 35%;
}

.center-in-container {
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-top: 120px;
}

header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #98644e;
    color: white;
    padding: 10px;
    margin: 40px, 10px 30px;
    position: fixed;
    top: 0px;
    width: 100%;
}

.navbar-primary ul {
    margin: 0px;
    background-color: #62433f;
    margin: 0px;
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
}

.navbar-primary ul li {
    display: inline-block;
    padding: 5px 10px 5px 10px;
}

.navbar-primary a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #62433f;
    padding: 10px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
}